.login-button {
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.navbar{
    background-color: #f5f4f4e3;
    height: 90px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.login-button:hover {
    background-color: aqua;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.navbar-close {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #000;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        height: 2px;
        background-color: #007bff;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

@media (max-width: 991px) {

    .container .navbar-brand{
        font-size: 1rem;
    }

    .login-button{
        font-size: .7rem;
    }

    .offcanvas-body a{
        font-size: 1.3rem;
    }

    .offcanvas{
        backdrop-filter: blur(5px);
    }
}

.hero-section{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.25),
        rgba(0,0,0,0.25)
    ) 
    ,url(img/fondo-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.hero-section::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1{
    font-size: 3rem;
    font-weight: 700;
}

.hero-section h2{
    margin-top: 0.5rem;
    font-size: 1.2rem;
}



.hero-section-1{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.25),
        rgba(0,0,0,0.25)
    ) 
    ,url(img/destinos-arg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.hero-section-1::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section-1 .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section-1 h1{
    font-size: 1.5rem;
}

.hero-section-1 h2{
    font-size: 1.2rem;
}



.hero-section-2{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.25),
        rgba(0,0,0,0.25)
    ) 
    ,url(img/destinos-br.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.hero-section-2::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section-2 .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section-2 h1{
    font-size: 1.5rem;
}

.hero-section-2 h2{
    font-size: 1.2rem;
}



.hero-section-3{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.25),
        rgba(0,0,0,0.25)
    ) 
    ,url(img/destinos-py.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.hero-section-3::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section-3 .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section-3 h1{
    font-size: 1.5rem;
}

.hero-section-3 h2{
    font-size: 1.2rem;
}